html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --mainColor: #540B0E;
    --bgColor: #9E2A2B;
    --color: #FFF3B0;
    --shadow: 0px 5px 5px 2px rgba(0,0,0,0.75);
}

body {
    background-color: var(--bgColor);
    color: var(--color);
    font-family: 'Lato', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

/*Contenedor*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Formularios*/

.form_question, .answer_wrapper {
    background-color: var(--mainColor);
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin: 20px 10px;
    padding: 10px 5px;
    text-align: center;
    width: 98%;
}

label {
    margin: 10px 0;
}

input {
    margin: 20px 0;
    width: 90%;
}

.answer_wrapper {
    visibility: hidden;
}

/*Respuesta contenedor*/

/*Botones*/

.form_btn {
    background: transparent;
    border: 2px solid var(--color);
    border-radius: 6px;
    color: var(--color);
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: var(--shadow);
    margin: 12px 0;
}

.form_btn:hover {
    background-color: var(--bgColor);
}

/*Responsive*/

/* @media screen and (min-width: 480px) {
    .form_question, .answer_wrapper {
        width: 90%;
    }
} */

@media screen and (min-width: 768px) {
    .form_question, .answer_wrapper {
        width: 80%;
    }
}

@media screen and (min-width: 968px){
    .form_question, .answer_wrapper {
        width: 70%;
    }
}
